**Q3. On the basis of data of most listened songs datasets and million song database file, identify the
most listened 10 song along with its name.
datafiles:
http://labrosa.ee.columbia.edu/millionsong/sites/default/files/challenge/train_triplets.txt.zip
http://labrosa.ee.columbia.edu/millionsong/sites/default/files/AdditionalFiles/track_metadata.db**
<br><br>

In [9]:
import pandas as pd
import numpy as np
import time
import sqlite3
path= 'D:/Research/NLP/T3/'

In [11]:
data = pd.read_csv(filepath_or_buffer=path+'train_triplets.txt', sep='\t', header=None,
names=['user','song','play_count'])

In [12]:
data.head(10)

                                       user                song  play_count
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995           1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9           1
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B           2
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22           1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494           1
5  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBNZDC12A6D4FC103           1
6  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBSUJE12A6D4F8CF5           2
7  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBVFZR12A6D4F8AE3           1
8  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBXALG12A8C13C108           1
9  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBXHDL12A81C204C0           1

In [14]:
#store in dict
song_dict = {}

with open(path+'train_triplets.txt') as f:
    for line_number, line in enumerate(f):
        song = line.split('\t')[1]
        play_count = int(line.split('\t')[2])
        if song in song_dict:
            play_count +=song_dict[song]
        song_dict.update({song:play_count})

In [16]:
import itertools  
out = dict(itertools.islice(song_dict.items(), 3))  
print("Dictionary  is : " + str(out))

Dictionary  is : {'SOAKIMP12A8C130995': 6698, 'SOAPDEY12A81C210A9': 2012, 'SOBBMDR12A8C13253B': 6383}

In [17]:
# convert into list
song_list = [{'song':k,'play_count':v} for k,v in song_dict.items()]

In [28]:
song_count_df = pd.DataFrame(song_list)
song_count_df.head(10)

                 song  play_count
0  SOAKIMP12A8C130995        6698
1  SOAPDEY12A81C210A9        2012
2  SOBBMDR12A8C13253B        6383
3  SOBFNSP12AF72A0E22         687
4  SOBFOVM12A58A7D494        1053
5  SOBNZDC12A6D4FC103          53
6  SOBSUJE12A6D4F8CF5        2209
7  SOBVFZR12A6D4F8AE3         137
8  SOBXALG12A8C13C108        2191
9  SOBXHDL12A81C204C0       54746

In [29]:
song_count_df = song_count_df.sort_values(by = 'play_count', ascending = False)
song_count_df

                      song  play_count
202     SOBONKR12A58A7A7E0      726885
199     SOAUWYT12A81C206F1      648239
218     SOSXLTC12AF72A7F54      527893
22      SOFRQTD12A81C233C0      425463
206     SOEGIYH12A6D4FC0E3      389880
...                    ...         ...
326175  SOXZARS12AB01851EE           1
326176  SOCCQEA12AB017E7CF           1
272569  SOGNHOL12A8C13C379           1
361600  SOPXELI12A8C13FAB0           1
362545  SONAEOM12AF72A05DF           1

[384546 rows x 2 columns]

In [30]:
song_count_df.to_csv(path+'song_count_df.csv', index = False) 
song_count_df = pd.read_csv(path+'song_count_df.csv')

In [32]:
song_count_df.head(10)

                 song  play_count
0  SOBONKR12A58A7A7E0      726885
1  SOAUWYT12A81C206F1      648239
2  SOSXLTC12AF72A7F54      527893
3  SOFRQTD12A81C233C0      425463
4  SOEGIYH12A6D4FC0E3      389880
5  SOAXGDH12A8C13F8A1      356533
6  SONYKOW12AB01849C9      292642
7  SOPUCYA12A8C13A694      274627
8  SOUFTBI12AB0183F65      268353
9  SOVDSJC12A58A7A271      244730